.home-container{
    margin: 20px;
}

.user-name{
    font-size: 30px;
    color: #f01716;
    font-weight: 500;
}
.welcome-msg{
    font-size: 15px;
    color: grey;
    margin-top: 10px;;
}

.sub-categories{
   height: 400px;
   display: flex;
   flex-wrap: wrap;
   overflow-y: scroll;

}

.cat-title{
    font-size: 25px;
    margin-top: 45px;
    color: rgb(0, 0, 0,0.7);
    font-weight: 500;
}
.cat-title-2{
    font-size: 25px;
    color: rgb(0, 0, 0,0.7);
    font-weight: 500;
}