.q-container{
    background-color: rgb(250, 235, 215,0.35);
    height: 100vh;
}
.surveyBox {
    font-family: Helvetica, sans-serif;
    position: relative;
    margin-top: 20px;
   
    
}

.progressBar {
    margin: 20px 20px 30px 20px;
}

.questionCard {
    margin: 20px;
    height: 500px;
}

.qcard{
    border-radius: 15px !important;
    box-shadow: none !important;
    border: none !important;
}
.question{
    height: 20%;
    color: rgb(0, 0, 0, 0.7) !important;
    text-align: left;
    font-size: 27px !important;
    margin: 10px 0px 40px 0px;
}
.textInputWrapper {
   margin-top: 40px;
   border: 2px solid rgb(250, 235, 215, 0.5);
   border-radius: 10px;
}
.options{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.nextButtonWrapper {
    margin-left: 30%;
 
}


.btn-icon{
    
    font-size: 35px;
}

.footer {
    
    right: 0%;
    width: 90%;
}









.user-name-2{
    font-size: 30px;
    color: #f01716;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
   
}
.welcome-msg-2{
    font-size: 15px;
    color: grey;
    margin-top: 10px;
    margin-left: 20px;
}